﻿@section Scripts {
    <script type="text/javascript">


    // Override the submit handler for Form1, to submit using AJAX.
     $("#form1").submit(function () {

        // This example shows how to send a complex CLR type as HTML form data.
        var jqxhr = $.post('/api/clients', $('#form1').serialize())
            .success(function () {
                var loc = jqxhr.getResponseHeader('Location');
                var a = $('<a/>', { href: loc, text: loc });
                $('#message').html(a);
            })
            .error(function () {
                $('#message').html("Error posting the contents.");
            });
        return false;
    });
    </script>
}

<div class="jumbotron">
    <h1>Hello Block Chain</h1>
    <p class="lead">This page is for demonstrating block chain especially bit coin.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <form id="form1" method="post" action="api/contents"
              enctype="application/x-www-form-urlencoded">
            <div>
                <label for="sender">Sender</label>
            </div>
            <div>
                <input name="sender" type="text" value="@ViewBag.ClientName" disabled="disabled"/>
            </div>

            <div>
                <label for="receiver">Receiver</label>
            </div>
            <div>
                <input name="receiver" type="text" />
            </div>

            <div>
                <label for="coin">Coin</label>
            </div>
            <div>
                <input name="coin" type="text" />
            </div>

            <div>
                <input type="submit" value="Submit" />
            </div>
        </form>
    </div>
    <div class="col-md-4" id="message">
    </div>
</div>
